* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playpen Sans", cursive;
}

.contanier {
  max-width: 1400px;
  padding: 0 32px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

.div {
  font-family: "Poppins", sans-serif;
  background-size: cover;
}

nav {
  width: 100%;
  padding: 30px 0px;
}
nav .nav-list {
  display: flex;
  list-style-type: none;
  gap: 50px;
  align-items: center;
}
nav .nav-list .ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
nav .nav-list .ul .a {
  position: relative;
  transition: 0.9s;
}
nav .nav-list .ul .a:hover .b {
  display: block;
}
nav .nav-list .ul .a .b {
  display: none;
  position: absolute;
  padding: 5px 5px;
  color: white;
  background: rgb(33, 159, 255) none repeat scroll 0 0;
  transition: all 0.3s ease;
  padding: 15px;
  width: 190px;
  z-index: 999;
}
nav .nav-list .ul .a .b ul {
  list-style-type: none;
  width: 100%;
}
nav .nav-list .ul .a .b ul li {
  padding: 5px 0;
  border-top: 1px solid rgb(162, 149, 149);
  width: 100%;
}
nav .nav-list .ul .a .b ul li:first-child {
  border-top: none;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-icon {
  display: none;
  font-size: 30px;
}

#banner {
  padding: 18px 0px;
}
#banner h1 {
  font-size: 60px;
}
#banner p {
  color: gray;
  font-size: 30px;
}
#banner h2 {
  color: rgb(23, 108, 255);
}
#banner .banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}
#banner .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 100px;
  animation: beat 7s infinite alternate;
}
#banner .inputs {
  width: 500px;
  height: 120px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  box-shadow: 10px 10px 5px lightblue;
}
#banner .inputs .cars {
  padding: 40px 20px;
}
#banner .inputs div {
  width: 1px;
  height: 60px;
  background-color: gray;
}
#banner button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(43, 158, 240);
  font-size: 15px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: auto;
  transition: all 0.5s linear;
}
#banner button:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(0, 132, 255);
}
#banner select {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
#banner select option {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

#candidates {
  padding: 20px 0px;
}
#candidates .blue-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  background-image: linear-gradient(rgba(15, 171, 255, 0.7), rgba(31, 169, 255, 0.7)), url(https://htmldesigntemplates.com/html/jobee/images/shape-1.png);
  z-index: 1;
  border-radius: 20px;
}
#candidates .blue-card .head8 {
  display: flex;
  flex-direction: column;
}
#candidates .blue-card .button button {
  background-color: rgb(0, 140, 255);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  border: none;
  margin: 30px;
  padding: 8px 20px;
  color: white;
  font-weight: 900;
  transition: all 0.5s linear;
}
#candidates .blue-card .button button:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(0, 132, 255);
}
#candidates .blue-card h1 {
  font-size: 40px;
  color: white;
  padding: 30px;
}
#candidates .blue-card p {
  font-size: 20px;
  color: white;
  padding: 30px;
}

#job-portal {
  padding: 70px 0px;
}
#job-portal .portal {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}
#job-portal .portal .btn1 {
  background-color: rgb(27, 134, 234);
  color: white;
  border: none;
  border-radius: 17px;
  font-size: 15px;
  padding: 10px;
  font-weight: 900;
  transition: all 0.5s linear;
}
#job-portal .portal .btn1:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(0, 132, 255);
}
#job-portal .portal .btn2 {
  color: gray;
  border: none;
  border-radius: 17px;
  font-size: 15px;
  padding: 10px;
  font-weight: 900;
  transition: all 0.5s linear;
}
#job-portal .portal .btn2:hover {
  box-shadow: inset 10rem 0 0 0 rgb(0, 145, 255), inset -10rem 0 0 0 rgb(0, 187, 255);
  color: white;
}
#job-portal .portal h1 {
  font-size: 40px;
}
#job-portal .portal p {
  color: gray;
  font-size: 20px;
}

#worker {
  padding: 100px 0px;
}
#worker .worker {
  background-color: rgb(182, 255, 255);
  border-radius: 50px;
}
#worker img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#worker .experts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}
#worker .experts h1 {
  font-size: 40px;
}
#worker .experts h1 span {
  color: rgb(8, 177, 255);
}
#worker .experts p {
  color: gray;
  font-size: 20px;
}
#worker .expert-cards {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 30px;
}

#register {
  padding: 100px 0px;
}
#register .find-job {
  display: flex;
  justify-content: space-around;
}
#register .find-job .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#register .find-job .btn {
  display: flex;
  gap: 20px;
}
#register .find-job button {
  font-size: 20px;
  background-color: rgb(8, 136, 255);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-weight: 900;
  transition: all 0.5s linear;
}
#register .find-job button:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(0, 132, 255);
}
#register .find-job span {
  color: rgb(32, 113, 190);
  font-size: 30px;
}
#register .find-job h1 {
  font-size: 40px;
}
#register .find-job p {
  font-size: 19px;
  color: gray;
}
#register .find-job img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.small-cont {
  display: flex;
  justify-content: space-around;
}
.small-cont > div {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

#registered-company {
  padding: 100px 0px;
}
#registered-company .registered-company {
  background-color: #cff3ff;
  gap: 60px;
}
#registered-company .registered-company .company {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
#registered-company .registered-company .hd {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#registered-company .registered-company .hd span {
  color: #069cd0;
}
#registered-company .registered-company .hd h1 {
  font-size: 50px;
}
#registered-company .registered-company .hd p {
  color: gray;
  font-size: 20px;
}
#registered-company .companies {
  display: flex;
  justify-content: space-around;
}

.works-card {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

#works {
  padding: 100px 0px;
}

.small-worksc {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.small-worksc .a {
  background-color: #03b4ef;
}
.small-worksc .b {
  background-color: #8f0fd4;
}
.small-worksc .c {
  background-color: #0541c2;
}
.small-worksc h1 {
  font-size: 30px;
  background-color: #c7f1ff;
  padding: 40px 0;
  border-radius: 20px;
  position: relative;
  text-align: end;
  color: white;
}
.small-worksc .bi {
  position: absolute;
  font-size: 50px;
  color: #069cd0;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 90px;
  margin-left: -10px;
  padding: 10px 20px;
}
.small-worksc p {
  font-size: 20px;
}

.works-demand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.works-demand .head3 {
  text-align: center;
}
.works-demand .head3 h1 {
  font-size: 50px;
}
.works-demand .head3 p {
  font-size: 30px;
  color: gray;
}/*# sourceMappingURL=style.css.map */