* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.contanier {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

.div {
  font-family: "Poppins", sans-serif;
  background-size: cover;
}

nav {
  width: 100%;
  padding: 30px 0px;
}
nav .nav-list {
  align-items: center;
}
nav .nav-list .log {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
nav .nav-list .log .lo {
  padding-top: 10px;
}
nav .nav-list .log .loq {
  background-color: #3474ff;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
}
nav .nav-list .ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
nav .nav-list .ul .a {
  position: relative;
  transition: 0.9s;
}
nav .nav-list .ul .a:hover .b {
  display: block;
}
nav .nav-list .ul .a .b {
  display: none;
  position: absolute;
  padding: 5px 5px;
  color: white;
  background: rgb(33, 159, 255) none repeat scroll 0 0;
  transition: all 0.3s ease;
  padding: 15px;
  width: 190px;
  z-index: 999;
}
nav .nav-list .ul .a .b ul {
  list-style-type: none;
  width: 100%;
}
nav .nav-list .ul .a .b ul li {
  padding: 5px 0;
  border-top: 1px solid rgb(162, 149, 149);
  width: 100%;
}
nav .nav-list .ul .a .b ul li:first-child {
  border-top: none;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-icon {
  display: none;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  nav .nav-list {
    display: none;
  }
  nav .nav-icon {
    display: flex;
  }
  nav .bi {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  nav .nav-list {
    display: none;
  }
  nav .nav-icon {
    display: flex;
  }
  nav .bi {
    font-size: 30px;
  }
}
#banner {
  padding: 18px 0px;
}
#banner h1 {
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  margin: 0 0 1rem;
  color: #17233e;
  line-height: 1.34em;
  letter-spacing: -1px;
  font-size: 60px;
}

p {
  font-size: 20px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  margin: 0 0 1rem;
  color: #17233e;
  line-height: 1.34em;
  letter-spacing: -1px;
  color: gray;
}

h2 {
  color: rgb(23, 108, 255);
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
  margin: 0 0 1rem;
  line-height: 1.34em;
  letter-spacing: -1px;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 100px;
  animation: beat 7s infinite alternate;
}

.inputs {
  width: 600px;
  height: 120px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  box-shadow: 10px 10px 5px lightblue;
}
.inputs .cars {
  padding: 40px 20px;
}
.inputs div {
  width: 1px;
  height: 60px;
  background-color: gray;
}

button {
  margin: auto;
  width: 260px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(43, 158, 240);
  font-size: 15px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  margin: 10px auto;
  margin-right: 10px;
  transition: all 0.5s linear;
}
button:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(0, 132, 255);
}

select {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
select option {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

@media screen and (max-width: 768px) {
  #banner .banner {
    flex-direction: column;
  }
  #banner .banner .banner1 {
    flex-direction: column;
    justify-content: center;
  }
  #banner .banner .banner1 .inputs {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
  }
  #banner .banner .banner1 .inputs button {
    width: 100%;
    padding-left: 40%;
  }
  #banner .banner .banner1 .inputs select {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  #banner .banner {
    flex-direction: column;
  }
  #banner .banner .banner1 {
    flex-direction: column;
    justify-content: center;
  }
  #banner .banner .banner1 .inputs {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
  }
  #banner .banner .banner1 .inputs button {
    width: 100%;
    padding-left: 40%;
  }
  #banner .banner .banner1 .inputs select {
    width: 100%;
  }
}
#candidates {
  padding: 20px 0px;
}
#candidates .blue-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  background-image: linear-gradient(rgba(15, 171, 255, 0.7), rgba(31, 169, 255, 0.7)), url(https://htmldesigntemplates.com/html/jobee/images/shape-1.png);
  z-index: 1;
  border-radius: 20px;
}
#candidates .blue-card .head8 {
  display: flex;
  flex-direction: column;
}
#candidates .blue-card .button button {
  background-color: rgb(0, 140, 255);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  border: none;
  margin: 30px;
  padding: 8px 20px;
  color: white;
  font-weight: 900;
  transition: all 0.5s linear;
}
#candidates .blue-card .button button:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(0, 132, 255);
}
#candidates .blue-card h1 {
  font-size: 40px;
  color: white;
  padding: 30px;
}
#candidates .blue-card p {
  font-size: 20px;
  color: white;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .blue-card {
    flex-direction: column;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .blue-card {
    flex-direction: column;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#job-portal {
  padding: 70px 0px;
}
#job-portal .portal {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}
#job-portal .portal .btn1 {
  background-color: rgb(27, 134, 234);
  color: white;
  border: none;
  border-radius: 17px;
  font-size: 15px;
  padding: 10px;
  font-weight: 900;
  transition: all 0.5s linear;
}
#job-portal .portal .btn1:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(0, 132, 255);
}
#job-portal .portal .btn2 {
  color: gray;
  border: none;
  border-radius: 17px;
  font-size: 15px;
  padding: 10px;
  font-weight: 900;
  transition: all 0.5s linear;
}
#job-portal .portal .btn2:hover {
  box-shadow: inset 10rem 0 0 0 rgb(0, 145, 255), inset -10rem 0 0 0 rgb(0, 187, 255);
  color: white;
}
#job-portal .portal h1 {
  font-size: 40px;
}
#job-portal .portal p {
  color: gray;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .portal {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .portal {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
#worker {
  padding: 100px 0px;
}
#worker .worker {
  background-color: rgb(182, 255, 255);
  border-radius: 50px;
}
#worker img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#worker .experts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}
#worker .experts h1 {
  font-size: 40px;
}
#worker .experts h1 span {
  color: rgb(8, 177, 255);
}
#worker .experts p {
  color: gray;
  font-size: 20px;
}
#worker .expert-cards {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .expert-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .expert-cards {
    flex-direction: column;
  }
}
#register {
  padding: 100px 0px;
}
#register .find-job {
  display: flex;
  justify-content: space-around;
}
#register .find-job .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#register .find-job .btn {
  display: flex;
  gap: 20px;
}
#register .find-job button {
  font-size: 15px;
  background-color: rgb(8, 136, 255);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 5px;
  font-weight: 600;
  width: 150px;
  transition: all 0.5s linear;
}
#register .find-job button:hover {
  box-shadow: inset 20rem 0 0 0 white, inset -20rem 0 0 0 white;
  color: rgb(0, 132, 255);
}
#register .find-job span {
  color: rgb(32, 113, 190);
  font-size: 30px;
}
#register .find-job h1 {
  font-size: 40px;
}
#register .find-job p {
  font-size: 19px;
  color: gray;
}
#register .find-job img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .find-job {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .find-job {
    flex-direction: column;
    align-items: center;
  }
}
.small-cont {
  display: flex;
  justify-content: space-around;
}
.small-cont > div {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

#registered-company {
  padding: 100px 0px;
}
#registered-company .registered-company {
  background-color: #cff3ff;
  gap: 60px;
}
#registered-company .registered-company .company {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
#registered-company .registered-company .hd {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#registered-company .registered-company .hd span {
  color: #069cd0;
}
#registered-company .registered-company .hd h1 {
  font-size: 50px;
}
#registered-company .registered-company .hd p {
  color: gray;
  font-size: 20px;
}
#registered-company .companies {
  display: flex;
  justify-content: space-around;
}

.works-card {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

#works {
  padding: 100px 0px;
}
#works .small-worksc {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#works .small-worksc .head3 p {
  font-size: 10px;
}
#works .small-worksc .a {
  background-color: #03b4ef;
}
#works .small-worksc .b {
  background-color: #8f0fd4;
}
#works .small-worksc .c {
  background-color: #0541c2;
}
#works .small-worksc h1 {
  font-size: 30px;
  background-color: #c7f1ff;
  padding: 40px 5px;
  border-radius: 20px;
  position: relative;
  text-align: end;
  color: white;
}
#works .small-worksc p {
  font-size: 10px;
}
#works .small-worksc .bi {
  position: absolute;
  font-size: 50px;
  color: #069cd0;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 80px;
  margin-left: -60px;
  padding: 10px 20px;
}
#works .small-worksc p {
  font-size: 20px;
}
#works .works-demand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#works .works-demand .head3 {
  text-align: center;
}
#works .works-demand .head3 h1 {
  font-size: 50px;
}
#works .works-demand .head3 p {
  font-size: 30px;
  color: gray;
}

@media screen and (max-width: 768px) {
  .works-card {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .works-card {
    flex-direction: column;
  }
}
#most-demand {
  padding: 50px 0px;
}
#most-demand .most-demand {
  padding: 40px;
  background-image: linear-gradient(to right, #ffffff, #e8f1ff, #bee7ff, #80e1ff, #12daeb);
}
#most-demand .head2 {
  text-align: center;
}
#most-demand .head2 p {
  font-size: 20px;
  padding: 20px;
}
#most-demand .head2 h1 {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}
#most-demand .demanding-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#most-demand .demanding-card .dc-card {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
#most-demand .demanding-card .d-card {
  width: 240px;
  height: 290px;
  background-color: white;
  border-radius: 30px;
  padding: 10px 10px;
}

#featured-job {
  padding: 100px 0;
}
#featured-job .features {
  display: flex;
  flex-direction: column;
}
#featured-job .features .feature-cards {
  display: flex;
  justify-content: space-around;
}
#featured-job .features .feature-cards .full {
  background-color: #8ddcf6;
  border-radius: 15px;
  padding: 5px;
}
#featured-job .features .feature-cards .full p {
  color: #03b4ef;
}
#featured-job .features .feature-cards .private {
  background-color: rgb(188, 255, 188);
  border-radius: 15px;
  padding: 5px;
}
#featured-job .features .feature-cards .private p {
  color: green;
}
#featured-job .features .feature-cards .urgent {
  background-color: rgb(220, 191, 139);
  border-radius: 15px;
  padding: 5px;
}
#featured-job .features .feature-cards .urgent p {
  color: orange;
}
#featured-job .features .f-card {
  width: 350px;
  height: 370px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 20px;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px lightblue;
}
#featured-job .features .f-card .apply {
  background-color: #2a6af3;
  border-radius: 10px;
  padding: 0 10px;
  font-weight: 900;
  color: white;
  transition: all 0.2s linear;
}
#featured-job .features .f-card .apply:hover {
  box-shadow: inset 10rem 0 0 0 rgb(15, 162, 241), inset -10rem 0 0 0 rgb(0, 149, 255);
  color: white;
}
#featured-job .features .f-card .apply p {
  color: white;
}
#featured-job .features .f-card .bi {
  color: #fafeff;
  font-size: 30px;
  background: #03b4ef;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 10px;
}
#featured-job .features .f-card span {
  color: #8f0fd4;
}
#featured-job .features .f-card p {
  font-size: 20px;
  color: gray;
}
#featured-job .features .f-card .fa,
#featured-job .features .f-card .fb,
#featured-job .features .f-card .fd {
  display: flex;
  justify-content: space-around;
}
#featured-job .features .find {
  display: flex;
  justify-content: space-around;
}
#featured-job .features .find .sort {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
#featured-job .features .find .sort .s {
  background-color: #069cd0;
  border-radius: 20px;
  height: 55px;
  padding: 0 30px;
  font-weight: 900;
  color: white;
  margin: auto;
  transition: all 0.5s linear;
}
#featured-job .features .find .sort .s:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(71, 161, 245);
}

@media screen and (max-width: 768px) {
  .feature-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .find {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (max-width: 992px) {
  .feature-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .feature-cards .demanding-card {
    justify-content: space-around;
  }
  .find {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
#small-cont .cont {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}
#small-cont .cont > div {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.d-card {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: black;
}
.d-card::before {
  content: "";
  position: absolute;
  background-color: #217dff;
  opacity: 0.9;
  width: 100%;
  height: 0;
  transition: all 0.5s ease-in-out;
}
.d-card:hover::before {
  height: 100%;
}

.dev {
  display: flex;
  flex-direction: column;
}
.dev img {
  widows: 200px;
  height: 200px;
  border-radius: 19px;
  position: relative;
}
.dev .dev1 {
  text-align: center;
  font-size: 20px;
}
.dev .dev1 p {
  color: gray;
}
.dev .dev1 h1 .spa {
  color: #03b4ef;
}
.dev .dev2 {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.dev .dev2 span {
  color: white;
  background-color: #0541c2;
  border-radius: 15px;
  position: absolute;
  padding: 10px;
  margin-top: 150px;
  margin-left: 10px;
  font-size: 15px;
}
.dev .dev-a {
  display: flex;
  flex-direction: column;
  font-size: 23px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .dev2 {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .dev2 {
    flex-direction: column;
    justify-content: center;
  }
}
footer {
  padding: 60px 0px;
  background-color: rgb(255, 255, 255);
  color: gray;
}
footer .footer {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
footer .footer h1 {
  color: black;
}
footer .footer p {
  font-size: 17px;
  color: rgb(84, 81, 81);
}
footer .footer ul {
  font-size: 18px;
  color: rgb(84, 81, 81);
}
footer .footer .cities,
footer .footer .categories {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer .job-board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .newsletter {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
footer .newsletter .bi {
  font-size: 50px;
  padding: 20px;
}
footer .footer-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .city-name {
  width: 200px;
}
footer .new {
  padding-bottom: 100px;
}
footer .subscribe {
  display: flex;
  justify-content: space-around;
  width: 450px;
  height: 40px;
  background-color: rgb(15, 188, 251);
  border-radius: 10px;
}
footer .subscribe .sub {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
}
footer .subscribe input {
  width: 300px;
  height: 40px;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .cities,
  .categories {
    justify-content: flex-start;
    padding-left: 10px;
  }
  .job-board {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .job-board {
    flex-direction: column;
  }
  .newsletter,
  .cities,
  .categories {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
#clients {
  padding: 60px 0;
}
#clients .carousel {
  display: flex;
  justify-content: space-around;
}
#clients .carousel .bibi {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
#clients .carousel .bi {
  color: yellow;
}
#clients .carousel .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  height: 600px;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 40px 40px;
}
#clients .carousel .item p {
  font-size: 20px;
}
#clients .carousel img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (max-width: 992px) {
  .carousel {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
#sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #03b4ef;
  color: white;
}

.category-form {
  margin-top: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category-form > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.category-form > div input {
  width: 100%;
  padding: 8px;
}
.category-form > div .symbol {
  position: absolute;
  font-size: 20px;
  top: 8px;
  left: 105%;
  width: 100%;
  height: 20px;
  color: rgb(110, 110, 110);
  display: flex;
  gap: 5px;
  align-items: center;
}
.category-form > div .symbol p {
  font-size: 12px;
}
.category-form > div .hidden {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.category-form #submit {
  padding: 8px;
  background-color: green;
  cursor: pointer;
  color: white;
}

#about {
  padding: 10px 0;
}
#about .contanier {
  width: 100%;
}
#about .about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background: url(https://htmldesigntemplates.com/html/jobee/images/shape-1.png);
  background-color: #83ddfa;
}
#about .about .about1 {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
}
#about .about .about2 {
  background-repeat: no-repeat;
  background-size: contain;
  background: url(https://htmldesigntemplates.com/html/jobee/images/banner_ils.png);
}
#about .about img {
  width: 300px;
  height: 300px;
}

#numbr .numbr {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  font-size: 40px;
  padding: 20px;
}

#pages .pages {
  display: flex;
  flex-direction: column;
}
#pages .pages .head {
  padding: 20px;
}
#pages .pages .head h1 {
  font-size: 40px;
  text-align: center;
}
#pages .pages .head p {
  font-size: 17px;
  color: gray;
  text-align: center;
}
#pages .pages .cards {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
#pages .pages .cards .card {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #528fff;
  color: white;
  padding-top: 80px;
  font-size: 28px;
  width: 340px;
  height: 700px;
  gap: 10px;
  border-radius: 15px;
}
#pages .pages .cards .card .bi {
  font-size: 60px;
  background-color: white;
  color: #80e1ff;
  border-radius: 15px;
  width: 130px;
  margin: auto;
  padding: 10px;
}
#pages .pages .cards .card p {
  color: white;
  font-size: 15px;
}
#pages .pages .cards .card button {
  border: none;
  color: white;
  border-radius: 10px;
  background-color: #0541c2;
  padding: 20px;
  width: 40%;
  margin: auto;
}

#newsletter {
  margin-top: 40px;
  padding: 60px 0;
  background-color: rgb(239, 239, 239);
}
#newsletter .newsletter {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
#newsletter .newsletter h1 {
  font-size: 30px;
  color: #0541c2;
}
#newsletter .newsletter p {
  font-size: 17px;
  color: gray;
}
#newsletter .newsletter .button {
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  background-color: #0541c2;
  border-radius: 6px;
  color: white;
}
#newsletter .newsletter .button input {
  border: none;
  width: 80%;
}
#newsletter .newsletter .button .subscribe {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: #0541c2;
  height: 100%;
}

#job .job {
  display: flex;
  justify-content: space-around;
}
#job .job .inpt {
  display: flex;
  justify-content: space-around;
}
#job .job .inpt .inp {
  display: flex;
  justify-content: space-around;
  gap: 2px;
}
#job .job .inpt .inp .bi {
  background-color: #0541c2;
  border-radius: 50%;
  color: white;
  font-size: 30px;
}
#job .job .inpt .inp p {
  color: rgb(83, 166, 255);
}
#job .job .inpt .inp select {
  border-radius: 15px;
}
#job .job .job1 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 90%;
}
#job .job .job1 .cards {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}
#job .job .job1 .cards .full {
  background-color: #8ddcf6;
  border-radius: 15px;
  padding: 5px;
}
#job .job .job1 .cards .full p {
  color: #03b4ef;
}
#job .job .job1 .cards .private {
  background-color: rgb(188, 255, 188);
  border-radius: 15px;
  padding: 5px;
}
#job .job .job1 .cards .private p {
  color: green;
}
#job .job .job1 .cards .urgent {
  background-color: rgb(220, 191, 139);
  border-radius: 15px;
  padding: 5px;
}
#job .job .job1 .cards .urgent p {
  color: orange;
}
#job .job .job1 .f-card {
  width: 350px;
  height: 370px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 20px;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px lightblue;
}
#job .job .job1 .f-card .apply {
  background-color: #2a6af3;
  border-radius: 10px;
  padding: 0 10px;
  font-weight: 900;
  color: white;
  transition: all 0.2s linear;
}
#job .job .job1 .f-card .apply:hover {
  box-shadow: inset 10rem 0 0 0 rgb(15, 162, 241), inset -10rem 0 0 0 rgb(0, 149, 255);
  color: white;
}
#job .job .job1 .f-card .apply p {
  color: white;
}
#job .job .job1 .f-card .bi {
  color: #fafeff;
  font-size: 30px;
  background: #03b4ef;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 10px;
}
#job .job .job1 .f-card span {
  color: #8f0fd4;
}
#job .job .job1 .f-card p {
  font-size: 20px;
  color: gray;
}
#job .job .job1 .f-card .fa,
#job .job .job1 .f-card .fb,
#job .job .job1 .f-card .fd {
  display: flex;
  justify-content: space-around;
}
#job .job2 {
  display: flex;
  flex-direction: column;
}
#job .job2 .job-tips {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
#job .job2 .industry {
  background-color: #9dd6ea;
  border-radius: 20px;
  padding: 50px 50px;
  margin-left: 20px;
}
#job .job2 .salary {
  background-color: #a4e7fd;
  border-radius: 20px;
  padding: 50px 50px;
  margin-left: 20px;
}
#job .job2 .job-type {
  background-color: #9fe7ff;
  border-radius: 20px;
  padding: 50px 50px;
  margin-left: 20px;
}
#job .job2 .mini-card {
  background-color: #06266b;
  color: white;
  border-radius: 20px;
  padding: 50px 30px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
#job .job2 .mini-card img {
  width: 100px;
  height: 100px;
}
#job .job2 .mini-card button {
  background-color: #0541c2;
  color: white;
  border-radius: 15px;
  padding: 15px;
  border: none;
}

#error .error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  gap: 40px;
}
#error .error img {
  width: 800px;
  height: 600px;
  margin: auto;
}
#error .error .button {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: auto;
}
#error .error .button .btn1,
#error .error .button .btn2 {
  color: white;
  background-color: #0541c2;
  border-radius: 28px;
  padding: 20px;
}
#error .error h1 {
  font-size: 40px;
}
#error .error p {
  font-size: 35px;
}

#about-cand {
  padding: 0 50px;
  width: 100%;
}
#about-cand .about-cand {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 50px;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background: url(https://htmldesigntemplates.com/html/jobee/images/shape-1.png);
  background-color: #83ddfa;
}
#about-cand .about-cand .about1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 40px;
}
#about-cand .about-cand .about1 .h1 {
  margin: auto;
}
#about-cand .about-cand .about1 .p {
  color: gray;
  margin: auto;
}
#about-cand .about-cand .about1 .banner1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}
#about-cand .about-cand .about1 .inputs {
  width: 500px;
  height: 120px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  box-shadow: 10px 10px 5px lightblue;
}
#about-cand .about-cand .about1 .inputs .cars {
  padding: 40px 20px;
}
#about-cand .about-cand .about1 .inputs div {
  width: 1px;
  height: 60px;
  background-color: gray;
}
#about-cand .about-cand .about1 button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(43, 158, 240);
  font-size: 15px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: auto;
  transition: all 0.5s linear;
}
#about-cand .about-cand .about1 button:hover {
  box-shadow: inset 10rem 0 0 0 white, inset -10rem 0 0 0 white;
  color: rgb(0, 132, 255);
}
#about-cand .about-cand .about1 select {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
#about-cand .about-cand .about1 select option {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
}/*# sourceMappingURL=style.css.map */